<!doctype html>
<html lang="en">
  <head>
    <title>Video Upscale</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="text-center">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

      <div class="container-fluid">

        <a class="navbar-brand btn btn-outline-success me-2" href="/">Video Upscale</a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home - Video Upload</a>
            <a class="nav-link" href="/webcam">Webcam 2x Upscale</a>
            <a class="nav-link" href="/comparision">Comparision 2x Upscale</a>
            <a class="nav-link" href="/upscale_4x_page">Webcam 4x Upscale</a>
          </div>
        </div>

      </div>

    </nav>
    
    {% block content%} {% endblock %}
 
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
    <script src="static/js/index.js"></script> -->
  </body>
</html>