{% extends "base.html" %}
{% block content %}
<!-- Your code here -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col-lg-8  offset-lg-2"></div>
                <h1>Video Upload</h1>
                <h3>2x Upscale</h3>
            </div>
        </div>
    </div>
</div>

<!-- https://getbootstrap.com/docs/4.5/components/forms/#file-browser -->
<!-- https://www.tutorialspoint.com/flask/flask_file_uploading.htm -->
<div class="col-lg-8 offset-lg-2">
    <div class="card">
        <div class="card-body">
            <form action = "/upload" method = "POST" enctype = "multipart/form-data">
                <label for="video-file">Select a video</label>
                <input type="file" class="form-control-file" id="video-file" name="file">
                <button type="submit" class="btn btn-md btn-danger">Submit</button>
                <!-- <div class="custom-file">
                    <input type="file" class="custom-file-input" id="video-file" name="file">
                    <label class="custom-file-label" for="customFileLang">Select a video...</label>
                    <input type=submit value=Submit>
                </div> -->
            </form>
        </div>
    </div>
</div>

{% if video_name != null %}
    <video width="1280" height="720" controls>
        <!-- can only play video in static folder -->
        <source src={{ url_for('static', filename=video_name) }} type="video/mp4">
    </video>
{% endif %}

{% endblock %}