{% extends "base.html" %}
{% block content %}
<!-- Your code here -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col-lg-8  offset-lg-2"></div>
                <h1>Video Upscale 4x</h1>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-2">
            <a class="btn btn-primary" href="/" role="button">Home</a>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" href="/comparision" role="button">Comparision</a>
        </div>
    </div>

    <div class="row">

        <div class="col">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Low Res Input (320x180)</h3>
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Generated High Res (1280x720)</h3>
                <img src="{{ url_for('upscale_4x') }}" width="100%">
            </div>
        </div>

    </div>

</div>
{% endblock %}