{% extends "base.html" %}
{% block content %}
<!-- Your code here -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col-lg-8  offset-lg-2"></div>
                <h1>Webcam 2x Upscale</h1>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col">
            <div class="col-lg-12">
                <h3 class="mt-5">Low Res Input (320x180)</h3>
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col">
            <div class="col-lg-12">
                <h3 class="mt-5">Generated High Res (640x360)</h3>
                <img src="{{ url_for('upscale') }}" width="100%">
            </div>
        </div>

    </div>

</div>
{% endblock %}